@{
  Layout = "_Layout";
}

@using PierreTreat.Models
@model PierreTreat.Models.Flavor

<h3>@Html.DisplayFor(model => model.FlavorName)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>No treats have this flavor.</p>
}
else
{
  <h4>The following treats have this flavor</h4>
  if (!User.Identity.IsAuthenticated)
  {
    <p>Must be @Html.ActionLink("logged in", "LogIn", "Account") in order to remove treats(s) using this flavor.</p>
  }
  <ul>
    @foreach(TreatFlavor join in Model.JoinEntities)
    {
      <li>@join.Treat.TreatType</li>
      @using (Html.BeginForm("DeleteJoin", "Treats"))
      {
        @Html.Hidden("joinId", @join.TreatFlavorId)
        @if (User.Identity.IsAuthenticated)
        {
          <input type="submit" value="Remove treat using flavor">
        }
      }
    }
  </ul>
}

<p>@Html.ActionLink("Add a treat", "AddTreat", new { id = Model.FlavorId})</p>
<p>@Html.ActionLink("Edit flavor", "Edit", new { id = Model.FlavorId})</p>
<p>@Html.ActionLink("Delete flavor", "Delete", new { id = Model.FlavorId})</p>
<p>@Html.ActionLink("Back to list", "Index")</p>