@{
  Layout = "_Layout";
}

@model PierreTreat.Models.Treat

<h2>Edit</h2>

@if (User.Identity.IsAuthenticated)
{
  <h4>Edit this treat: @Html.DisplayFor(model => model.TreatType)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.TreatId)

    @Html.LabelFor(model => model.TreatType)
    @Html.EditorFor(model => model.TreatType)

    <input type="submit" value="Save" />
  }
}
else
{
  <p>Please @Html.ActionLink("log in", "LogIn", "Account") to edit this treat: @Html.DisplayFor(model => model.TreatType).</p>
}

<p>@Html.ActionLink("Back to list", "Index")</p>